<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Suspends Kubernetes deployments">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Suspenders</title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/static/main.css?v=1.0">
</head>

<body class="h-screen bg-gray-100">
  <div>
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-4 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <!-- logo and/or title -->
        </div>
      </div>
    </nav>
  </div>

  <main>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <div class="py-6 sm:px-0">
        {{if .}}
        <table class="w-full text-left table-collapse">
          <thead>
            <tr>
              <th class="text-sm font-semibold">Name</th>
              <th class="text-sm font-semibold">Images</th>
              <th class="text-sm font-semibold">Desired</th>
              <th class="text-sm font-semibold">Ready</th>
              <th class="text-sm font-semibold">Up to Date</th>
              <th class="text-sm font-semibold">Created</th>
              <th class="text-sm font-semibold">Status</th>
              <th class="text-sm font-semibold">Last Transition</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
            <tr>
              <td class="text-sm">{{.Name}}</td>
              <td class="text-sm">{{.Images}}</td>
              <td class="text-sm">{{.DesiredReplicas}}</td>
              <td class="text-sm">{{.ReadyReplicas}}</td>
              <td class="text-sm">{{.UpdatedReplicas}}</td>
              <td class="text-sm">
                <time datetime="{{.CreationTimestamp}}" title="{{.CreationTimestamp}}">
                  {{.CreationTimestamp | relative}}
                </time>
              </td>
              <td class="text-sm">{{.Status}}</td>
              <td class="text-sm">
                <time datetime="{{.LastTransitionTime}}" title="{{.LastTransitionTime}}">
                  {{.LastTransitionTime | relative}}
                </time>
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
        {{end}}
      </div>
    </div>

  </main>

</body>

</html>